@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css');

@import "tailwindcss";

/* Font Komigo3D pour Le Lab */
@font-face {
    font-family: 'Komigo3D';
    src: url('/fonts/Komigo3D-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


